<div class="main">
<div class="container-fluid text-center">
  <div class="bg-1">
      <h3>Who Am I?</h3>
      <img src="https://scontent-lax3-1.cdninstagram.com/vp/65b229dd2995b057f883d3d734022a53/5BDEA842/t51.2885-19/s150x150/36136934_2094148830857218_2982444308457586688_n.jpg" class="img-circle" alt="Andrew" width="150" height="auto">
      <h3>I'm a Photographer</h3>
    <div class="bg-2">
      <div class="container-fluid bg-2 text-center">
          <h3>What Am I?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="container-fluid bg-3 text-center">
        <div class="bg-3">
          Hello!
        </div>
      </div>
    </div>
  </div>
</div>
