.main{
  font-family: cursive, sans-serif;
}
h3{
  padding: 1em;
}

ul > li {
  background-color: blue;
}
.bg-1{
  /* border: */
  background-color: rgba(173, 216, 230, 0.267);
  color: midnightblue;
}
.bg-2{
  background-color: rgba(19, 253, 214, 0.24);
  padding: 20px;
}
/* .bg-3{
} */
.img-circle{
  border: 2px solid blue;
}
