.main{
  font-family: cursive, sans-serif;
}

ul > li {
  background-color: blue;
}
.bg-1{
  color: white;
  /* padding: 1em; */
}
.bg-2{
  color: white;
  /* padding: 20px; */
}
.img-circle{
  border: 2px solid blue;
}
