<div class="main">
    <div class="container text-center">
        <div class="bg-2">
          <div class="container-fluid bg-2 text-center">
              <h3>Where em I located?</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102871.44085103137!2d-119.71596751049631!3d36.318792570511114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8094c37b19af7a53%3A0x1b16a7e4c563f490!2sHanford%2C+CA+93230!5e0!3m2!1sen!2sus!4v1530761689107" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="container-fluid bg-3 text-center">
            <div class="bg-3">

            </div>
          </div>
      </div>
    </div>
