nav{
  background-color: rgb(30, 33, 34);
  border-bottom: 2px solid rgba(96, 255, 228, 0.575);
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
li {
    float: none;
    display: inline-block;
  }

.navbar-nav > li > a {
  font-size: 23px;
  font-family: cursive, sans-serif;
  color: rgba(96, 255, 228, 0.932);
  border-right: 2px solid rgba(96, 255, 228, 0.575);
  border-left: 2px solid rgba(96, 255, 228, 0.575);
  /* background-color: lightgray; */

}

