.header{
  font-family:  cursive, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 1em;
}
.row{
  padding: none;
  margin: none;
  border: none;
  line-height: 0;
}
.bg2{
  background-repeat: no-repeat;
  background-attachment: fixed;

}
