<div class="bg" [ngStyle]="{'background-image': 'url(' + bg + ')'}">
  <div class="container text-center">
    <div class="header">
    <h1>Andrew Arias</h1>
      Photography
      </div>
    </div>
    <br>
  </div>
<div class= "row">
  <div class="col-md-12">
    <nava (navSelected)="navigate($event)">Loading...</nava>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <bodyComp *ngIf= "loadedFeature === 'bodyComp'"></bodyComp>
    <gallary *ngIf= "loadedFeature === 'gallary'"></gallary>
    <about *ngIf= "loadedFeature === 'about'"></about>
  </div>
</div>
