<div class="container-fluid bg-3 text-center">
    <h3>Where To Find Me?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src={{img1}} alt="Image" width="290" height="300">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, ipsa.</p>
      </div>
      <div class="col-sm-4">
        <img src={{img2}} alt="Image" width="290" height="300">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, facere.</p>
      </div>
      <div class="col-sm-4">
        <img src={{img3}} alt="Image" width="290" height="300">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, veritatis!</p>
      </div>
      <div class="col-sm-4">
          <img src={{img4}} alt="Image" width="290" height="300">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, veritatis!</p>
        </div>
        <div class="col-sm-4">
            <img src={{img5}} alt="Image" width="290" height="300">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, veritatis!</p>
          </div>
          <div class="col-sm-4">
              <img src={{img6}} alt="Image" width="290" height="300">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, veritatis!</p>
            </div>
    </div>
  </div>
